{
  "imgurAPI": {
    "clientId": ""
  },
  "cmds": {
    "template": {
      "imgurAlbum": "",
      "imageUrls": [],
      "videoUrls": []
    },
    "hug": {
      "accept": [
        "https://i.imgur.com/andOAaZ.gif",
        "https://i.imgur.com/AxnoCXU.gif",
        "https://i.imgur.com/oMOKD8u.gif",
        "https://i.imgur.com/GLYUVYB.gif",
        "https://i.imgur.com/xgxGHF5.gif",
        "https://i.imgur.com/zNwasP3.gif",
        "https://i.imgur.com/FbgcAkn.gif",
        "https://i.imgur.com/IGJL17c.gif",
        "https://i.imgur.com/EIsAUgw.gif"
      ],
      "reject": [
        "https://i.imgur.com/ufUubon.gif",
        "https://i.imgur.com/50qkOen.gif"
      ]
    },
    "pat": {
      "imgurAlbum": "",
      "imageUrls": [
        "https://i.imgur.com/u64vUSG.gif",
        "https://i.imgur.com/Qu1qDWV.gif",
        "https://i.imgur.com/Q5ZIGTW.gif",
        "https://i.imgur.com/cGcPOvl.gif",
        "https://i.imgur.com/od2EOMc.gif",
        "https://i.imgur.com/GgNM6AV.gif",
        "https://i.imgur.com/opf3GTk.gif",
        "https://i.imgur.com/c5AMssK.gif"
      ],
      "videoUrls":[]
    },
    "rape": {
      "imgurAlbum": "",
      "overpower": [
        "https://i.imgur.com/gNSYmUK.gif"
      ],
      "butgay": [
        "https://i.imgur.com/JK0PUOJ.gif"
      ]
    },
    "kiss": {
      "imgurAlbum": "",
      "imageUrls": [
        "https://i.imgur.com/gqtgTaE.gif",
        "https://i.imgur.com/wIGB8OB.gif",
        "https://i.imgur.com/x4uo667.gif",
        "https://i.imgur.com/ebvDdkA.gif",
        "https://i.imgur.com/BxKJl2Z.gif",
        "https://i.imgur.com/h7LQ03Z.gif",
        "https://i.imgur.com/iUNPbIa.gif",
        "https://i.imgur.com/pglqu2X.gif"
      ],
      "videoUrls":[]
    },
    "goodNight": {
      "imgurAlbum": "",
      "imageUrls": [],
      "videoUrls": [
        "https://cdn.discordapp.com/attachments/1088917256710394022/1089607382616780890/Y2Mate.is_-_Sorry_bro_I_almost_forgot__alright_good_night_bro-M2fnMxsdOpE-720p-1656192035349.mp4"
      ]
    },
    "fight": {
      "success": [],
      "failed": []
    },
    "lore": {
      "imgurAlbum": "https://api.imgur.com/3/album/3H43cVs",
      "imageUrls": [],
      "videoUrls": [
        "https://cdn.discordapp.com/attachments/1088917256710394022/1089691224388161667/Tsundere_Dishka_checks_up_on_you.mp4",
        "https://cdn.discordapp.com/attachments/1088917256710394022/1089692170707030026/armpit_cmd.mp4",
        "https://cdn.discordapp.com/attachments/1088917256710394022/1089692277766623242/Chromes_Mask.mp4",
        "https://cdn.discordapp.com/attachments/1088917256710394022/1089692624652345535/From_Feet_We_Arise.mp4",
        "https://cdn.discordapp.com/attachments/1088917256710394022/1089692972624388146/Jonkos_Mommy_Fetish.mp4",
        "https://cdn.discordapp.com/attachments/1088917256710394022/1089693709387444274/nsfw_dishka_1.mp4",
        "https://cdn.discordapp.com/attachments/1088917256710394022/1089693792501760151/Tsundere_Dishka_comforts_you_RP.mp4"
      ]
    }
  }
}